/* este es el codigo css ok-  */
body {
    font-family: Arial, sans-serif;
    /* margin: 60px; */
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    font-size: 40px;
    font-weight: 600;
}

p {
    font-size: 22px;   
    text-align: center;
}

.social-icon {
    font-size: 40px; /* Ajusta el tamaño de los íconos */    
    margin-left: 30px;
}
